<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Untitled</title>
	</head>
	<body>
		TEST :)<br />
		
		<wo:str value = "$myTextForDisplay" /><br />
	
	
		<wo:str value = "$now" /><br />
		<wo:str value = "$tomorrow" /><br />
		<webobject name="Sample" />
<webobject name = "hi">say Hi!</webobject>	
<br />
The name of the application <webobject name = "appname" />
</body>
</html>
